# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build outputs
build/
dist/


# Backups
backups/*.zip

# IDE and Editor configs
.vscode/
.idea/
*.swp

# Scratch / dev scripts
scratch/
